name: CI
on:
  push:
    paths-ignore:
      - "doc/**"
      - "README.md"
      - "**.md"
      - "LICENSE**"
  pull_request:
    paths-ignore:
      - "doc/**"
      - "README.md"
      - "**.md"
      - "LICENSE**"
jobs:
  x86_64-linux:
    runs-on: ubuntu-latest
    env:
      DISPLAY: ':99.0'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Zig
        run: |
          sudo apt install --yes xz-utils libglfw3-dev
          sudo sh -c 'wget -c https://pkg.machengine.org/zig/zig-x86_64-linux-0.15.2.tar.xz -O - | tar -xJ --strip-components=1 -C /usr/local/bin'
      - name: build execs and tests
        run:
          zig build
      - name: Run tests
        run:
          ./zig-out/bin/test

